.label {
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 56px;
  background-color: var(--accent-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
