.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark-color);
  }
}
