<section class="about">
  <div class="container about__container">
    <div class="about__inner">
      <div class="about__img">
        <picture>
          <source srcset="../img/about-img.webp" type="image/webp">
          <img loading="lazy" src="../img/about-img.jpg" class="image" width="784" height="357" alt="Пример косметики">
        </picture>
      </div>

      <div class="about__content">
        <h2 class="section-title about__title">
          Ведущий эксперт на российском рынке профессиональной косметики
          из Кореи—ККshop™
        </h2>

        <p class="about__text">
          Мы делаем мир профессиональной корейской косметики доступным для каждого косметолога
          в России, предоставляя возможность работать с лучшими достижениями корейских учёных и специалистов в области
          сохранения здоровья и ухода за кожей
        </p>

        <a href="#" class="about__link">Подробнее</a>
      </div>
    </div>

    <ul class="list-reset about__list">
      <li class="about__item">
        <p class="about__advent">
          Безупречный состав и эффективность
        </p>
      </li>
      <li class="about__item">
        <p class="about__advent">
          Натуральность и экологичность
        </p>
      </li>
      <li class="about__item">
        <p class="about__advent">
          Наличный и безналичный расчет
        </p>
      </li>
      <li class="about__item">
        <p class="about__advent">
          Доставка по всей России
        </p>
      </li>
    </ul>
  </div>
</section>
