<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo">
      <img loading="lazy" src="../img/logo.svg" class="image" width="124" height="38" alt="Логотип магазина KKShop">
    </a>

    <nav class="nav header__nav">

      <ul class="list-reset nav__list">

        <li class="nav__item">
          <a href="#" class="nav__link">Каталог</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Клуб косметологов</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Сертификаты</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Доставка и оплата</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Блог</a>
        </li>
      </ul>
    </nav>

    <div class="header__btns header-btns">

      <ul class="list-reset header-btns__list">

        <li class="header-btns__item">
          <button class="btn-reset header-btns__btn">
            <svg class="header-btns__icon">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </li>

        <li class="header-btns__item">
          <button class="btn-reset header-btns__btn">
            <svg class="header-btns__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </li>

        <li class="header-btns__item">
          <button class="btn-reset header-btns__btn" data-graph-path="">
            <svg class="header-btns__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
          </button>
        </li>

        <li class="header-btns__item">
          <button class="btn-reset header-btns__btn" data-graph-path="">
            <svg class="header-btns__icon">
              <use xlink:href="img/sprite.svg#profile"></use>
            </svg>
          </button>
        </li>

      </ul>
    </div>
  </div>
</header>
