<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">
      Мы делаем мир профессиональной корейской косметики доступным для каждого косметолога
      в России, предоставляя возможность работать с лучшими достижениями корейских учёных и специалистов в области
      сохранения здоровья и ухода за кожей
    </h1>
    <div class="hero__inner">
      <h2 class="hero__title">SKINDOM</h2>
      <p class="hero__sale">Специальные цены только до 30 апреля</p>
      <a href="#" class="hero__btn btn">
        Перейти в каталог
      </a>
    </div>
  </div>
</section>
