<section class="newest">
  <div class="container newest__container">

    <div class="newest__top">
      <h2 class="section-title newest__title">Новинки</h2>
      <div class="slider-btns">
        <button class="btn-reset slider-btn slider-btn--prev newest__btn--prev">
          <svg class="slider-btn-icon">
            <use xlink:href="img/sprite.svg#slider-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-btn slider-btn--next newest__btn--next">
          <svg class="slider-btn-icon">
            <use xlink:href="img/sprite.svg#slider-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper newest__swiper newest-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="newest-swiper__item">

            <div class="newest-swiper__label label">
              <span>sell</span>
            </div>

            <img class="newest-swiper__img" src="../img/newest-1.png" alt="фото новинки" width="294" height="250" >
            <h3 class="newest-swiper__name">
              Slimming Gel Body
            </h3>
            <div class="newest-swiper__text">
              <p class="newest-swiper__descr">
                Гель для тела для похудения
              </p>
              <span class="newest-swiper__price">
                2 480 руб
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="newest-swiper__item">



            <img class="newest-swiper__img" src="../img/newest-2.png" alt="фото новинки" width="294" height="250" >
            <h3 class="newest-swiper__name">
              Slimming Gel Body
            </h3>
            <div class="newest-swiper__text">
              <p class="newest-swiper__descr">
                Гель для тела для похудения
              </p>
              <span class="newest-swiper__price">
                2 480 руб
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="newest-swiper__item">

            <div class="newest-swiper__label label">
              <span>sell</span>
            </div>

            <img class="newest-swiper__img" src="../img/newest-3.png" alt="фото новинки" width="294" height="250" >
            <h3 class="newest-swiper__name">
              Slimming Gel Body
            </h3>
            <div class="newest-swiper__text">
              <p class="newest-swiper__descr">
                Гель для тела для похудения
              </p>
              <span class="newest-swiper__price">
                2 480 руб
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="newest-swiper__item">



            <img class="newest-swiper__img" src="../img/newest-4.png" alt="фото новинки" width="294" height="250" >
            <h3 class="newest-swiper__name">
              Slimming Gel Body
            </h3>
            <div class="newest-swiper__text">
              <p class="newest-swiper__descr">
                Гель для тела для похудения
              </p>
              <span class="newest-swiper__price">
                2 480 руб
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="newest-swiper__item">

            <div class="newest-swiper__label label">
              <span>sell</span>
            </div>

            <img class="newest-swiper__img" src="../img/newest-1.png" alt="фото новинки" width="294" height="250" >
            <h3 class="newest-swiper__name">
              Slimming Gel Body
            </h3>
            <div class="newest-swiper__text">
              <p class="newest-swiper__descr">
                Гель для тела для похудения
              </p>
              <span class="newest-swiper__price">
                2 480 руб
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
