<section class="stock">
  <div class="container stock__container">
    <h2 class="section-title stock__title">Акционные товары</h2>
    <div class="slider-btns">
      <button class="btn-reset slider-btn slider-btn--prev stock__btn--prev">
        <svg class="slider-btn-icon">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset slider-btn slider-btn--next stock__btn--next">
        <svg class="slider-btn-icon">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="swiper stock-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="stock-swiper__item">
          <img src="../img/stock-1.png" class="stock-swiper__img" width="990" height="482" alt="фото акционного товара">
          <h3 class="stock-swiper__name">R&B Black Food 3.7</h3>
          <p class="stock-swiper__descr">Бальзам-ополаскиватель для волос с экстрактами 3 черных семян и 7 черных плодов</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="stock-swiper__item">
          <img src="../img/stock-1.png" class="stock-swiper__img" width="990" height="482" alt="фото акционного товара">
          <h3 class="stock-swiper__name">R&B Black Food 3.7</h3>
          <p class="stock-swiper__descr">Бальзам-ополаскиватель для волос с экстрактами 3 черных семян и 7 черных плодов</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="stock-swiper__item">
          <img src="../img/stock-1.png" class="stock-swiper__img" width="990" height="482" alt="фото акционного товара">
          <h3 class="stock-swiper__name">R&B Black Food 3.7</h3>
          <p class="stock-swiper__descr">Бальзам-ополаскиватель для волос с экстрактами 3 черных семян и 7 черных плодов</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
